*{
    font-family: Josefin Sans;
}

#headie{
    height:58px;
    border-bottom: 10px solid lightblue;
}

body{
    background-color:rgba(52,58,64);
}

.card-title{
   text-shadow: 2px 2px white;
}

.nav-tabs{
    float: right;
}

#dash-pic{
    height:520px;
}

#smbox-pics{
    height:500px;
}

.card{
background-color:lightblue;
}

.card:hover{
    box-shadow: ;
}